<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    //je contruie ma condition if quand mon active ramene true ou false et j'utilise ma variable 'profile' avec ma key
    // Pour donner faire suivre les infos de mon symfo

    {% if profile.active == true %}

        <h1> {{ profile.firstame}} {{profile.name }} </h1>
        <h2> {{ profile.age }} </h2>
        <p>Le métier de cette personne est {{ profile.job }} </p>

    {% else %}

        <h1>Passe ton tour</h1>

    {% endif %}





</header>
</body>
</html>