{% extends "base.html.twig" %}
{% block titre %}Mes billets {% endblock %}
{% block section %}
    <main>
        {% for billet in billets %}

                <div ><img src="{{ billet.image }}" alt="" ></div>
                <a href="{{ path('page_billets',{id:billet.id}) }}"><h2>{{ billet.title }}</h2></a>

        {% endfor %}
    </main>

{% endblock %}